body, html {
	height: 100%;
	margin: 0;
}

img, embed,
object, video {
	max-width: 100%;
} 
.box {
	display: flex; 
}

header {
	height: 50px;
	width: 100%;
	white-space: nowrap;
}

h2 {
	margin-bottom: 10px;
}

main {
	font-family: 'EB Garamond', serif;
	display: flex;
}

a {
	text-decoration: none;
}

.displayMain {
	flex-flow: row wrap; 
	justify-content: space-evenly;
}

.formMain {
	margin: 0 40px;
}

input {
	font-family: 'EB Garamond', serif;
}

.mainTitle {
	margin: auto; 
	font-family: 'Special Elite', cursive;
	font-size: 35px;
	text-decoration: none;
	color: black;
}

.infoBox {
	width: 400px;
	font-size: 22px;
	text-decoration: none; 
	color: black;
	margin: 0 15px;
}

.phantomBox {
	width: 400px;
	height: 2px;
}

.itemName {
	margin: auto;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 20px;
	border-bottom: 1px solid black;
	font-size: 110%;
}

.itemPrice {
	text-align: center;
	padding-top: 5px;
	font-size: 20px;
}

.itemImage {
	display: block;
	margin-left: auto; 
	margin-right: auto; 
	padding-top: 30px;
	max-width: 70%;
	max-height: 200px;
}

.sloganBox {
	height: 40px; 
	width: 100%; 
	background-color: #004489; 
}

.slogan {
	margin: auto; 
	font-size: 30px;
	color: white;
	font-family: 'Gochi Hand', cursive; 
}


.divider {
	width: 100%;
	margin: auto;
	height: 40px; 
	border-bottom: 1px solid #2A93FC;
}

.buttonCase {
	margin: auto; 
}

.longButton {
	height: 30px; width: 150px; font-family: cursive; color: black; font-size: 15px; color: white; text-decoration: none; border: none;
}

.signoutButton {
	height: 35px; width: 120px; font-size: 15px; background-color: #3D3DFF; border-radius: 20px; color: white; font-weight: bold; font-family: 'PT Sans', sans-serif; border: none; margin-right: 10px;
}

.button {
	height: 40px; 
	width: 80px; 
	font-family: cursive; 
	color: white; 
	font-size: 17px; 
	margin-right: 10px;
	border: none;
}

.buttonDisplay {
	display: flex;
	justify-content: flex-end;
	padding-top: 10px;
	text-decoration: none;
}

.hollowButton {
	height: 60px;
	width: 130px;
	font-size: 16px;
	background: transparent;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	border-radius: 15px;
	margin-right: 10px;
}

.hollowButton:hover {
	cursor: pointer;
}

.add {
	color: green; 
	border: 5px solid green;
}

.addButton {
	float: right;
	padding-top: 5px;
}

.submit {
	background-color: #336633;
}

.edit {
	color: orange; 
	border: 5px solid orange;
}

.cancel {
	background-color: #CC3300;
}

.delete {
	background-color: purple;
}

.inputBox {
	font-size: 17px;
	margin-bottom: 10px;
}

.menu {
	min-height: 120px; 
	background-color: #002142; 
	justify-content: space-evenly;
	font-size: 25px;
	font-family: 'Alegreya SC', serif;
	flex-flow: row wrap;
}

#categoryName {
	margin: auto;
	text-decoration: none;
	color: white;
	padding-left: 30px; 
	padding-right: 30px;
	padding: 10px 30px 10px 30px;
}

#categoryName:visited {
	text-decoration: none;
	color: white;
}

#categoryName:hover {
	color: #898989;
}

.buttons {
	margin-top: 20px;
}

.mainHeader {
	margin: 0 auto;
	width: 100%;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 15px;
	font-size: 30px;
	color: #AFAFAF;
	font-family: 'Alegreya SC', serif;
}

.techLabel {
	font-family: 'Cabin Sketch', cursive;
}

.showItemDesc {
	margin-top: 20px;
	font-size: 22px;
	width: 600px;
	margin-right: 15px;
}

.itemParent {
	width: 600px;
	margin: auto;
}

.showItemImg {
	display: block;
	width: 100%;
	height: auto;
}

.showItemName {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	font-size: 30px;
	border-bottom: 1px solid #BCBCBC;
	padding-bottom: 10px;
}

.editItemButton {
	margin-left: 5%;
}

.showItemPrice {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	font-size: 20px;
	padding-top: 5px;
	border-bottom: 1px solid #BCBCBC;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.itemPage {
	width: 90%;
	margin: 0 auto;
	padding-bottom: 20px;
	justify-content: space-between;
}

.footerText {
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	font-size: 15px;
}

footer {
	margin-bottom: 5px;
}

.securityBar {
	border-bottom: 1px solid #D6D6D6;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	justify-content: flex-end;
}

#signinButton {
	margin-top: 10px;
}

#initialSignoutButton {
	display: none;
}

@media screen and (min-width: 1490px) {
	body {
		max-width: 1490px;
		margin: 0 auto;
	}
}

@media screen and (max-width: 900px) {
	.itemPage {
		flex-flow: row wrap;
	}

	.showItemDesc{
		width: 100%;
		margin-bottom: 50px;
	}

	.itemParent {
		width: 450px;
	}
}

@media screen and (max-width: 800px) {
	.infoBox {
		width: 300px;
		font-size: 18px;
	}
}

@media screen and (max-width: 550px) {
	.menu {
		font-size: 25px;	
	}
	
	.itemName {
		border-bottom: none;
		padding-bottom: 2px;
	}
	
	.itemDescription {
		display: none;
	}

	.infoBox {
		padding-bottom: 20px;
		border-bottom: 1px solid #BCBCBC;
	}
}

