<!DOCTYPE html>
<html>
  <head> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link href="https://fonts.googleapis.com/css?family=Cabin+SketchJosefin+Slab|EB+Garamond|Gochi+Hand|Special+Elite" rel="stylesheet"> 
    <link rel=stylesheet type=text/css href="{{url_for('static', filename='styles.css')}}">
    <title>Aaron's Tech Etc.</title> 
  </head>
  <body>
    <header class="box">
      <a class="mainTitle" href='{{url_for('showCatalog')}}'>Aaron's<span class="techLabel"> Tech Etc.</span></a>
    </header>
    <div class="box sloganBox">
      <p class="slogan">Be a Kid Again</p>
    </div>
    <div class="divider"></div>
    <main class="formMain">
      <form action='{{url_for('editCategory', category_name = category.name)}}' method='post'>
        <h1 class="titleHeader">Edit Category - {{category.name}}</h1>
        <h2>Name</h2>
        <input class="inputBox" type='text' size='40' value="{{category.name}}" name='name'>
        <br><br>
        <input class="button submit" type='submit' value="Submit" name="button submit">
        <a href='{{url_for('showCategory', category_name = category.name)}}'><input class="button cancel" type="button" value="Cancel"></a>
        <br><br>
				<a href='{{url_for('deleteCategory', category_name = category.name)}}'><input class="longButton delete" type="button" value="Delete Category"></a>
      </form>
    </main>
  </body>
</html> 
