<!DOCTYPE html> 
<html> 
	<head> 
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<script src="static/app.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Montserrat|PT+Sans|Alegreya+SC|Cabin+Sketch|Josefin+Slab|EB+Garamond|Gochi+Hand|Special+Elite" rel="stylesheet" onerror="APIErrorMessage()"> 
		<link rel=stylesheet type=text/css href="{{url_for('static', filename='styles.css')}}">
		<title>Aaron's Tech Etc.</title> 
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
	</head> 
	<body> 
		<div class="securityBar">
			<div id="signinButton">
				<span class="g-signin"
					data-scope="openid email"
					data-clientid="305102502505-lf030mom773dvbrdlqah9hlbn2kvpre7.apps.googleusercontent.com"
					data-redirecturi="postmessage"
					data-accesstype="offline"
					data-cookiepolicy="single_host_origin"
					data-callback="signInCallback"
					data-approvalprompt="force">	
				</span>
			</div>
		  <a id="initialSignoutButton" href='{{url_for('gdisconnect')}}'><button class="signoutButton">Signout</button></a>
		</div>
		<header class="box">
			<a class="mainTitle" href='{{url_for('showCatalog')}}'>Aaron's<span class="techLabel"> Tech Etc. </span><img src="static/colorful-kite.png" height=40 width=40></a>
		</header> 
		<div class="box sloganBox">
			<p class="slogan">Be a Kid Again</p> 
		</div> 
		<div class="box menu">
			{% for i in categories %} 
				<a id="categoryName" href='{{url_for('showCategory', category_name = i.name)}}'>{{i.name}}</a>
			{% endfor %}
		</div> 
		<div class="divider"></div> 
		<div class="flashMessage" style="display: none">You are now logged in.</div>
		<div class="buttonDisplay" style="display: none">
      <a href='{{url_for('addCategory')}}'><button class="add hollowButton">Add Category</button></a>
    </div>
		<div class="mainHeader">Latest Items</div>
		<main class="displayMain">
      {% for item in latestItems %}
				<a class="infoBox" href='{{url_for('showItem', item_name = item.name, category_name = categories[item.category_id - 1].name)}}'>
          <img class="itemImage" src="{{item.image}}">
          <p class="itemName">{{item.name}}</p> 
          <div class="itemPrice">{{item.price}}</div>
          <p class="itemDescription">{{item.short_description}}</p>
        </a>
      {% endfor %}
			<div class="phantomBox"></div>
			<div class="phantomBox"></div>
			<div class="phantomBox"></div>
			<div class="phantomBox"></div>
			<div class="phantomBox"></div>
		</main> 
		<footer>
			<p class="footerText">Aaron Percival</p> 
			<p class="footerText">apercival314@gmail.com</p>
		</footer>
	
		<script>
				function signInCallback(authResult) {
					if (authResult['code']) {
						$('#signinButton').css("display", "none"); 
						$('#initialSignoutButton').css("display", "block");
						$('.buttonDisplay').css("display", "flex");
						$('.flashMessage').css("display", "block");
					}

					$.ajax({
						type: 'POST',
						url: '/gconnect?state={{STATE}}',
						processdata: false,
						data: authResult['code'],
						contentType: 'application/octet-stream; charset=utf-8'
					});
				}

				function APIErrorMessage() {
					alert("Google API is not available at the moment - please check back in again later");
				}
		</script>

	</body> 
</html> 
